<header>
    <nav class="nav-container">
        <ul class="nav-main">
            <a href="/admin/index">
                <li>Ver</li>
            </a>
            <a href="/admin/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/admin/crear">
                <li>Crear</li>
            </a>
            <a href="/admin/modificar">
                <li>Modificar</li>
            </a>
            <a href="/admin/eliminar">
                <li>Eliminar</li>
            </a>
            <a href="/admin/crearUsuario">
                <li>Crear Usuario</li>
            </a>
            <a href="/ventas/excel">
                <li>descargar ventas</li>
            </a>

        </ul>

        <form action="/logout" method="POST" class="logout-form">
            <button type="submit" class="logout-btn">Cerrar sesion</button>
        </form>

    </nav>
</header>