<header>
    <nav>
        <ul>
            <a href="/admin/index">
                <li>Ver</li>
            </a>
            <a href="/admin/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/admin/crear">
                <li>Crear</li>
            </a>
            <a href="/admin/modificar">
                <li>Modificar</li>
            </a>
            <a href="/admin/eliminar">
                <li>Eliminar</li>
            </a>
            <a href="/admin/crearUsuario">
                <li>Crear Usuario</li>
            </a>
        </ul>
    </nav>
</header>